DATABASE_URL=mongodb://localhost:27017/coletas

SECRET=MIIBOQIBAAJAecU9FTRr0dGZ/aSNbIL/fW1H58tjuE3FqfzkXJYl1J8E46wHJ9plGt4mwe+XkEIwA2Z6zBQ3KyJ4tC90S2MdawIDAQABAkBD/caSfXeqax9RibzRlv9zGD6rBVzDvuEcfjFAJTIwWmZyVt5LnqqDTkiN0oYLNUiSoUQPp/IJuyH/A4dEBQmBAiEAzqNVlC6TdUIhvDxkoMxGNkkW3JrFjthKWMzlJKtvvcECIQCW2/HYEVRFJcMR9cxOazKGG4pw//OJ1LNQcmK0JQm+KwIhAL75U4ls9llDslv+0N2PjUB0kk12OSmImkWxsAEQ9GfBAiB2DN8PSWA8S/R+FW4u30vGDb8j9eZJsRwwk5IRjfo1yQIgXHXhztQhU19yebs7TXAhbdsYgIurigJcvTYv60lnkao=